trigger:
- none

pool:
  name: azureagent

stages:
- stage: compile
  displayName: 'compile stage'
  jobs:
  - job: compilejob
    displayName: 'compile Job'
    steps:
    - script: mvn compile
      displayName: 'compile-step'

- stage: Test
  displayName: 'Test stage'
  jobs:
  - job: Testjob
    displayName: 'Test Job'
    steps:
    - script: mvn test
      displayName: 'Test-step'

- stage: Trivy_FS_scan
  displayName: 'Trivy FS stage'
  jobs:
  - job: TrivyFSjob
    displayName: 'Trivy FS Job'
    steps:
    - script: trivy fs --format table -o trivy-fs-report.html .
      displayName: 'TrivyFS-step'

- stage: SonarQube_scan
  displayName: 'SonarQube stage'
  jobs:
  - job: SonarQubejob
    displayName: 'SonarQube Job'
    steps:
    - task: SonarQubePrepare@8
      inputs:
        SonarQube: 'sonar-svc'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'secret-santa'
        cliProjectName: 'secret-santa'
        cliSources: '.'
        extraProperties: |
          # Additional properties that will be passed to the scanner
          sonar.java.binaries=.
    - task: SonarQubeAnalyze@8
      inputs:
        jdkversion: 'JAVA_HOME'

- stage: Build
  displayName: 'Build stage'
  jobs:
  - job: Buildjob
    displayName: 'Build Job'
    steps:
    - script: mvn package
      displayName: 'Build-Package-step'

- stage: Docker
  displayName: 'Docker stage'
  jobs:
  - job: Dockerjob
    displayName: 'Docker Job'
    steps:
    - script: mvn package
      displayName: 'Build-Package_Step'    
    - task: Docker@2
      inputs:
        containerRegistry: 'docker-svc'
        repository: 'rakshithgt96/secretsanat'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: 'latest'

- stage: Trivy_image_scan
  displayName: 'Trivy image stage'
  jobs:
  - job: Trivyimagejob
    displayName: 'Trivy image Job'
    steps:
    - script: trivy image --format table -o trivy-image-report.html rakshithgt96/secretsanat:latest
      displayName: 'Trivy-image-scan-step'

- stage: k8_Deploy
  displayName: 'k8_Deploy stage'
  jobs:
  - job: k8_Deployjob
    displayName: 'k8_Deploy Job'
    steps:
    - task: KubectlInstaller@0
      inputs:
        kubectlVersion: 'latest'
    - task: Kubernetes@1
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: 'k8-service-connection'
        namespace: 'default'
        command: 'apply'
        useConfigurationFile: true
        configuration: 'k8-dep-svc.yml'
        secretType: 'dockerRegistry'
        containerRegistryType: 'Container Registry'
        dockerRegistryEndpoint: 'docker-svc'
        forceUpdate: false
